<h2><%= "#{@user.name}" %></h2>
<button type="button" class="btn btn-primary btn-medium" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-envelope"></span> Message
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%= form_for [current_user, Message.new], :action => :create, :hmtl => {:class => 'form',:role=> 'form'} do |f| %>
          <h4 class="modal-title" id="myModalLabel">
              <%= f.label :subject, "subject" %>
              <%= f.text_field :subject %>
            </br>
          </h4>
      </div>
      <div class="modal-body">
          <center>
            <div class="form-group">
              <%= f.label :body %></br>  
              <%= f.text_field :body %></br>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit nil, class: "btn btn-primary" %>
          <% end %>
          </center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->